.description-posts{
  align-items: center;
}

.post-content-info {
  display: unset;
  flex-direction: column;
  width: 100%;
}

.post-header {
  gap: 10px;
}

.post-content {
  margin-top: 10px;
}

.post-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
@media (max-width: 500px) {
  .description-posts {
    overflow: hidden;
    max-width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media (max-width: 1000px) {
  .subscription-posts-end {
    padding-bottom: 40px;
  }
  .mate rial-icons {
    padding: 15px;
    font-size: 5px;
  }
}

