.profile-header {
  display: inline-block;
}
.profile-text-center {
  margin: auto;
}
.draggable-style {
  height: 20px;

}

.draggable-container {
  height: auto;
}
.profile-form-post-list {
  margin-top: 70px;
}
