.carousel-wrapper {
  position: relative;
}

.slide {
  position: relative;
}

.image-overlay {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.show-overlay {
  opacity: 1;
}

.slide:hover .image-overlay {
  opacity: 1;
}

.slide:hover .overlay-text {
  opacity: 1;
}

.confirmation-dialog .message {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333333;
}
.input-files {
  width: 40%;
  display: none;
}
.custom-file-button {
  display: flex;
  justify-content: center;
  background-color: gray; /* Change the background color */
  color: #fff; /* Change the text color */
  padding: 10px 20px; /* Adjust padding as needed */
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
label[for="files"] + .custom-file-button {
  display: inline-block;
}