  <div class="draggable-container" mat-dialog-title
      appDraggableDirective>
    <button class="close-button" (click)="closeDialog()">&times;</button>
  </div>

  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">

    <div class="div-field">
      <label class="label">{{'TITLE' | translate}}</label>
      <input class="input-field" type="text" formControlName="title" placeholder="{{'INPUT_TITLE' | translate}}">
      <div *ngIf="postForm.get('title')?.errors?.['required'] && postForm.get('title')?.touched">
        {{'TITLE_REQUIRED' | translate}}
      </div>
    </div>

    <div class="div-field">
      <label class="label">{{'DESCRIPTION' | translate}}</label>
      <textarea class="dynamic-textarea" type="text" formControlName="description" placeholder="{{'INPUT_DESCRIPTION' | translate}}">
    </textarea>
      <div *ngIf="postForm.get('description')?.errors?.['required'] && postForm.get('description')?.touched">
        {{'DESCRIPTION_REQUIRED' | translate}}
      </div>
    </div>

    <label for="files" class="custom-file-button">{{'UPLOAD_IMAGES' | translate}}</label>
    <input class="input-files" type="file" id="files" (change)="onImageSelected($event)" accept=".img,.png, .jpg" multiple>
    <div class="carousel-wrapper">
      <ngx-slick-carousel class="carousel" [config]="{slidesToShow: 3, slidesToScroll: 3}">
        <div ngxSlickItem *ngFor="let url of imageURLS; let i = index" class="slide">
          <img [src]="url" alt="Slide Image" class="slide-image" (click)="isImageClicked = true">
          <div *ngIf="isImageClicked">
            <div class="image-overlay" (click)="deleteImage(i)"></div>
            <p class="overlay-text" [ngClass]="{'show-overlay': hoverIndex === i}"
               (click)="deleteImage(i);$event.stopPropagation()">{{'DELETE_PHOTO' | translate}}</p>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
    <div *ngIf="imageURLS.length > 6">
      {{'IMAGE_NUMBER_RESTRICTION' | translate}}
    </div>

    <div class="flex justify-center">
      <button class="btn-login" [disabled]="postForm.invalid || imageURLS.length > 6 " type="submit">
        {{ isUpdating ? ('UPDATE_POST' | translate) : ('CREATE_POST' | translate) }}
      </button>
    </div>
  </form>

  <div *ngIf="isUpdating">
    <button class="button" type="button" (click)="onConfirmPostDeletion()">Delete post</button>
  </div>
  <div class="confirmation-dialog" *ngIf="isPostDeletionSubmitted">
    <div class="message">{{'POST_DELETION_CONFIRMATION' | translate}}</div>
    <button type="button" (click)="onConfirm()">{{'YES' | translate}}</button>
    <button  type="button" (click)="onCancel()">{{'NO' | translate}}</button>
  </div>
