.reset-pass-container {
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.label {
  text-align: center;
  margin-bottom: 0.5rem;
}

.input-field {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

