.confetti-element {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.social-post {
  margin-top: 10px;
  padding: 20px;
  background-color: #cccccc;
  transform: none
}

.comments-number {
  color: whitesmoke;
  display: contents;
  margin-left: 10px;
}

@media (max-width: 500px) {
  .description {
    max-height: 200px;
    word-wrap: break-word;
    hyphens: auto;
  }
  .comments-number {
    display: block;
  }
}
.comments-section {
  display: grid;
}